  <h1>Welcome to <%=link_to "nomo", root_path%> <%= @user.name %></h1>
  <h4>Start adding artists to your list and never miss out on a show again!</h4>
    
    <p>
      Now you can start adding artists to your list and recieving updates whenever there are new shows!
    </p>
    <p>Thanks for joining and have a great day!</p>