  <h1>Welcome to example.com, <%= @user.name %></h1>
    
    <p>
      Now you can start adding artists to your list and recieving updates whenever there are new shows!
    </p>
    <p>Thanks for joining and have a great day!</p>