<%@events.each do |event|%>
<p>
  Don't miss out on <%=event.band.name%>'s upcoming shows:
  <ul>
    <li><a href="<%=event.link%>"><%= event.start_time.to_s.to_date%>, <%= event.location%></a></li>
  </ul>
</p>
<%end%>