
<li class="btn btn-default btn-lg disabled bandLi" data-id="<%= event.id %>"><%= "#{event.start_time.to_s.to_date}, #{event.location}" %><span class="glyphicon glyphicon-window" aria-hidden="true"></span></li>
